@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}
/* header css start */
.header-icon a i{
    transition: 0.2s ease-out;
}
.header-icon a i:hover {
    color: #f8b5ab;
}
/* section 1 css start */
.ul-li-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.ul-li-text p{
    transition: 0.2s ease-in-out;
    margin: 0%;
}

.ul-li-text p:hover{
    color: #f8b5ab;
}
.section1-text{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #989898;
}
.section1-btn button{
    width: 294px;
    height: 57px;
    border-radius: 16px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #f8b5ab;
    transition: 0.3s ease-in;
}
.section1-btn button:hover{
    width: 300px;
    color: #f8b5ab;
    background-color: white;
    border:2px solid #f8b5ab;
}
/* section 2 css start */
.s2-h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
}
.card-s2{
    width: 294px !important;
    height: 410px;
    border-radius: 20px;
    background-color: #f2f2f4;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    transition: 0.3s ease-in;
}
.card-s2:hover{
    width: 299px !important;
    height: 425px;
    border-radius: 20px;
     -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.s2-img-card{
    width: 100%;
    height: 209px;
}
.s2-text-card{
    width: 100%;
    height: 190px;
}
.s2-card-p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
}
.s2-card-price{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.s2-card-btn{
    width: 177px;
    height: 50px;
    border-radius: 16px;
    border: 0;
    outline: 0;
    color: #ffffffff;
    background-color: #f8b5ab;
    transition: 0.3s ease;
}
.s2-card-btn:focus {
    border:2px solid  #f8b5ab;
    color: #f8b5ab;
    background-color: #ffffffff;
}
.counter{
    width: 67px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid #f8b5ab;
    color: #f8b5ab;
}
.counter button{
    color: #f8b5ab;
    border: 0;
}
.page-btn{
    width: 50px;
    height: 50px;
    border-radius: 16px;
    color: #ffffffff;
    background-color: #f8b5ab;
    border: 2px solid #ffffffff;
    outline: 0;
}
.card-icon{
    right: 20px;
    color: #ffffffff;
    transition: 0.3s ease-in;
}
.card-icon:hover{
    color: #f8b5ab;
}
.card-icon:focus{
    color: #f8b5ab;
}
.card-icon-full{
    right: 20px;
    color: #f8b5ab;
    transition: 0.3s ease-in;
}
.plus{
    background-color: transparent;
}
.minus{
    background-color: transparent;
}
/* section 6 css start */
.gramm-p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #f8b5ab;
}
/* section 10 start css */
.map-h1{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
}
.s10-h1-up{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
.s10-text-up{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.s10-h1-down{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
.s10-text-down{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.up{
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.down{
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.map-img{
    transition: 0.4s ease-out;
    border-radius: 5px;
    -webkit-box-shadow: 8px 10px 12px -5px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 8px 10px 12px -5px rgba(34, 60, 80, 0.33);
    box-shadow: 8px 10px 12px -5px rgba(34, 60, 80, 0.33);
    
}
.map-img:hover{
    border-radius: 16px;
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.bar-like{
    width: 24px;
    height: 24px;
    color: #f8b5ab;
    top: 28px;
    right: 23px;
}
/* footer css start */
.footer{
    background-color: #A86D64;
}
.footer-logo{
    width: 294px;
    height: 58px;
    object-fit: cover;
}
.ul-li {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; 
}
.ul-li li a{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transition: 0.1s ease-in;
    color: white;
}
.ul-li li a:hover{
    color: rgb(199, 194, 194);
}
.name-text{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; 
}
.contact{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; 
}
.phone-number{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    transition: 0.3s ease-in;
}
.phone-number:hover{
    transform: translate(24px,0px);
    -webkit-transform: translate(24px,0px);
    -moz-transform: translate(24px,0px);
}
.phone-icon{
    transition: 0.4s ease-in;
}
.phone-icon:hover{
    transform: rotate(360deg) scale(1.1) ;
    -webkit-transform: rotate(360deg) scale(1.1) ;
    -moz-transform: rotate(360deg) scale(1.1) ;
}
.fa-telegram{
    color: #00bfff; 
    transition: 0.1s ease-in !important;
}
.fa-telegram:hover{
    color: rgb(199, 194, 194) !important;
}
.fa-instagram{
    color: white;
    transition: 0.1s ease-in;
}
.fa-instagram:hover{
    color: rgb(199, 194, 194);
}
.react-multiple-carousel__arrow  {
    position: absolute;
    bottom: 85px;
    
}
.react-multiple-carousel__arrow react-multiple-carousel__arrow--right {
    position: absolute;
    bottom: 85px;
    color: #f8b5ab !important;
    width: 100%;
}
.logo-img{
    transition: 0.3s ease-in;
}
.logo-img:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}













@media screen and (max-width: 576px){
    .section-1{
        height: 399px;
    }
    
    .section1-img {
        width: 112px;
        height: 22px;
        object-fit: cover;
    }
    .section1-text{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #989898;
    }
    .section1-left-img {
        width: 154px;
        height: 203px;
        object-fit: cover;
    }
    .section1-btn button{
        width: 274px !important;
        height: 57px;
        border-radius: 16px;
        border: 0;
        outline: 0;
        color: white;
        background-color: #f8b5ab;
        position: absolute;
        bottom: 15px;
        left: 58px;
    }
    .section1-btn button:hover{
        color: #f8b5ab;
        background-color: white;
        border:2px solid #f8b5ab;
    }  
      /* s2 card mobile start css */
      .s2-h1{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
    }
    .card-s2{
        width: 160px !important;
        height: 217px;
        border-radius: 20px;
        background-color: #f2f2f4;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .s2-img-card{
        width: 100%;
        height: 83px;
        object-fit: cover;
    }
    .s2-img-card img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .s2-text-card{
        width: 100%;
        height: 83px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .s2-card-p{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        margin: 0%;
    }
    .s2-card-price{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        margin: 0%;
    }
    .s2-card-btn{
        width: 81px;
        height: 27px;
        border-radius: 16px;
        border: 0;
        outline: 0;
        color: #ffffffff;
        background-color: #f8b5ab;
        transition: 0.3s ease;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
    }
    .s2-card-btn:focus {
        border:2px solid  #f8b5ab;
        color: #f8b5ab;
        background-color: #ffffffff;
    }
    .counter{
        width: 44px;
        height: 27px;
        border-radius: 16px;
        border: 1px solid #f8b5ab;
        color: #f8b5ab;
    }
    .counter button{
        color: #f8b5ab;
        border: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    .counter p{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
    }
    .card-icon{
        right: 20px;
        color: #ffffffff;
        transition: 0.3s ease-in;
    }
    .card-icon:hover{
        color: #f8b5ab;
    }
    .card-icon-full{
        right: 20px;
        color: #f8b5ab;
        /* transition: 0.3s ease-in; */
    }
    /* section 6 mobila start */
    .gramm-p{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #f8b5ab;
    }
    /* section 10 mobile start */
    .map-h1{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
    }
    .s10-h1-up{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .s10-text-up{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .s10-h1-down{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .s10-text-down{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .up{
        height: 138px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .down{
        height: 138px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    .map-img{
        /* transition: 0.4s ease-out;
        -webkit-box-shadow: 8px 10px 12px -5px rgba(34, 60, 80, 0.33);
        -moz-box-shadow: 8px 10px 12px -5px rgba(34, 60, 80, 0.33);
        box-shadow: 8px 10px 12px -5px rgba(34, 60, 80, 0.33); */
        width: 420px;
        object-fit: cover;
        height: 360px;
    }
    .map-img:hover{
        /* border-radius: 16px;
        -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); */
    }
    /* mobile izbranoy css */
    .mobile-h1{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
    }
    /* footer mobile start */
    .footer{
        background-color: #A86D64;
    }
    .footer-logo{
        width: 146px;
        height: 29px;
        object-fit: cover;
    }
    .ul-li {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
    }
    .ul-li li a{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    .name-text{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px; 
    }
    .contact{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
    }
    .phone-number{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .react-multiple-carousel__arrow  {
        position: absolute;
        bottom: 50px;
        
    }
}